.header__logo {
  width: 162px;
  margin: 0;
  font-size: 0;
  display: flex;
  align-items: center;
  background: 0 0;
  padding-bottom: 16px;
  display: flex;
  order: 3;
  flex-grow: 2;
  text-align: right;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}
.App-header {
    padding: 1rem;
    background: #330c39;
    align-items: center;
}
.header__subheader {
      font-size: 2rem;
    color: #f0f8ff;
    /* margin: auto; */
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
