.main-content-bg-color {
 background: aliceblue;
}
.filter-section {
  margin: 0rem -15px;
  padding: 15px;
  color: #330c39;
  font-size: 16px;
    font-weight: 600;
}
.cert__box{
  display:flex;
  overflow: auto;
  flex-wrap: wrap;
  padding: 1rem;
  max-height: 60vh;
  width:100%;
}
.cart__card{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.marginTop20{
      margin-top: -20px;
}
table{
  color:#272421!important;
}
a{
  color: #16325c;
}
thead>tr{
      background: #330c39;
    color: #fff;
}
.aligncenter{
  align-items: center !important;
}
.modal_overflow{
      height: 400px;
    overflow: auto;
}
/* .table thead th {
    border-bottom: 2px solid #2b0a3d!important;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #2b0a3d!important;
} */
.superBadgeList{
  display: flex;
    height: 50px;
    align-items: center;
    margin: 1rem;
}